@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@font-face {
    font-family: 'Readex Pro';
    src: url('/fonts/readex-pro.woff2') format('woff2');
    font-weight: 300 800;
    font-display: optional;
    font-style: normal;
}

@theme {
    --font-sans: 'Readex Pro', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --color-brand-navy: #023b55;
    --color-brand-green: #039652;
    --color-brand-green-hover: #027a42;
    --color-brand-gold: #fcc023;
    --color-brand-gold-light: #fff7d1;
}
